
li {
  list-style-type: none;
  margin: 4px;
  font-family: Fantasy;
  margin-top: -20px;
  margin-left: 25px;
  text-decoration: none;
}

.selector {
  margin: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center; /* Updated to center align items */
  justify-content: space-between; /* Added to distribute space evenly between items */
  /*box-shadow: 5px 5px 5px black;  Modified box-shadow */
  background-color: #f0f0f0; /* Added background color */
}

.locationLogo {
  height: 20px;
}

.selectHead {
  height: 74vh;
  display: flex;
  align-self: center;
}

.logoImg {
  border-radius: 30px;
  height: 100px;
}

ul {
  display: flex;
}

.nav-items {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.iconImg {
  margin-top: 6px;
  margin-left: 5px;
}

/* Added hover effect */
.navbar a:hover {
  background-color: #ddd;
  color: #333;
}
