
.selectHead {
  height: 74vh;
  display: flex;
  align-self: center;
}
.mainPageCont {
  background-color: aquamarine;
  height: 100vh;
}
.totalDetailsCont {
  display: flex;
  width: 1500px;
  overflow-y: wrap;
}
